<p id="notice"><%= notice %></p>

<section class="container pt-5">
  <div class="text-center">
    <p style="font-size:300%">
      <strong><%= @profile.name %></strong>
    </p>

      <div class="row pt-5">
        <div class="col-md-6">
          <% if @profile.profile_photo == nil %>
              <p>No image available</p>
            <% else %>
              <%= image_tag @profile.profile_photo.photo_url(:thumb) %>
          <% end %>

        </div>
  
        <div class="col-md-6">
          <p>
            <strong>City:</strong>
            <%= @profile.city %>
          </p>

          <p>
            <strong>State:</strong>
            <%= @profile.state %>
          </p>

          <p>
            <strong>Country code:</strong>
            <%= @profile.country_code %>
          </p>

          <p>
            <strong>Average User Rating:</strong>
            
          </p>

        </div>
      </div>
</section>

<section class="container">
  <div class="text-center">
    <h1 class="pt-5">Listings By This User</h1>
  </div>

<% @listings.each do |listing| %>
    <div class="row border">
      <div class="col-md-4">
        <p>
        <% if @listing_photo == nil %>
        <p> No photo available </p>
        <% else %>
          <%= image_tag @listing_photo.photo_url(:thumb) %>
        <% end %>
        </p>
      </div>
  
        <div class="col-md-4">
          <p>
            <strong>Title:  </strong><%= listing.title %>
          </p>

          <p>
            <strong>Price: </strong><%= listing.price %>
          </p>

          <p>
            <strong>Description: </strong><%= listing.description %>
          </p>
        </div>

        <div class="col-md-4">
          <p>
            <strong>Location:</strong>
          </p>

          <p>
            <strong>List Date:</strong>
          </p>
        </div>
      </div>
    <% end %>
</section>

<section class="container">
  <div class="text-center">
    <h1 class="pt-5">Reviews</h1>
    <p>Average User Score -</p>
  </div>

    <div class="row border">
      <div class="col-md-6">
         <% @reviews.each do |review| %>
          <%= review.user.profile.name %>

          <p>
          <% if @profile.profile_photo == nil %>
            <p>No Profile Picture Available</p>
          <% else %>
            <%= image_tag @profile.profile_photo.photo_url(:thumb) %>
          <% end %>
        </p>
      </div>
  
      <div class="col-md-6">
          <p>⭐️ <%= review.rating %></p>

          <p>
            <%= review.content %>
          </p>

          <% end %>
      </div>
    </div>

    <br>
  
  <a class="btn btn-primary" href="/reviews/new?reviewee_id=<%= @profile.id %>">Review User</a>
    <%#= link_to 'Review User', new_review_path(), class: 'btn btn-primary' %>

    <br>

</section>

<%= link_to 'Edit', edit_profile_path(@profile) %> |
<%= link_to 'Back', profiles_path %>


<% if @user_listings == nil %>
  <p> This user has no listings </p>
<% else %>
  <% @user_listings.each do |listing| %>
    <%= listing %>
  <% end %>
<% end %>