<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @listing.user_id %>
</p>

<p>
  <strong>Title:</strong>
  <%= @listing.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @listing.description %>
</p>

<p>
  <strong>List date:</strong>
  <%= @listing.list_date %>
</p>

<p>
  <strong>Price:</strong>
  <%= @listing.price %>
</p>

<p>
  <strong>Photos:</strong><br>
  <% @listing.listing_photos.each do |photo| %>
    <%= image_tag photo.photo_url(:thumb) %><br>
    <%= link_to 'Delete Photo', listing_photo_path(photo), method: :delete %><br>
  <% end %>
</p>

<%= link_to 'Edit', edit_listing_path(@listing) %> |
<%= link_to 'Back', listings_path %>
