<p id="notice"><%= notice %></p>

<p>
  <strong>Listing:</strong>
  <%= @listing_photo.listing %>
</p>

<p>
  <strong>Photo data:</strong>
  <%= @listing_photo.photo_data %>
</p>

<%= link_to 'Edit', edit_listing_photo_path(@listing_photo) %> |
<%= link_to 'Back', listing_photos_path %>
