<!DOCTYPE html>
<html>
  <head>
    <title>Jhbifi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', "https://fonts.googleapis.com/css?family=Anton|Ubuntu", media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <ul class="nav bg-dark header-footer-text pt-3 pb-3 pl-1">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home Page</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/conversations">Messages</a>
      </li>
      <li class="nav-item pl-3">
      <input type="text" placeholder="ðŸ” Search">
      </li>
    </ul>

    <span class="d-flex justify-content-between pt-3 pb-3 mid-top-background">

      <div class="d-flex">
        <strong><h1 class="pl-3">JH BI-FI</h1></strong>
      </div>

      <div class="d-flex">
          <%= link_to 'Sign in', new_user_session_path, class: 'btn btn-dark'%>
          <%= link_to 'Sign up', new_user_registration_path, class: 'btn btn-dark'%>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete, class: 'btn btn-danger'%>
      </div>

    </span>

		<label for="openMenu" id="barMenu">
			<span></span>
			<span></span>
			<span></span>
		</label>
		<input type="checkbox" id="openMenu" checked>
		<nav class="mainMenu">
			<ul class="menu">
				<li><a href="/listings">LISTINGS</a></li>
				<li><a href="/profiles">PROFILES</a></li>
				<li><a href="/conversations">MESSAGES</a></li>
        <li><a href="/support">SUPPORT</a></li>
        <li><a href="/support">PHONES</a></li>
        <li><a href="/support">COMPUTERS</a></li>
        <li><a href="/support">TV/MEDIA</a></li>
        <li><a href="/support">MUSIC</a></li>
				<div class="clear"></div>
			</ul>		
		</nav>

		<div class="content"></div>

    
    <% if notice && alert %>
        <div class="text-center container-fluid py-1"><%= notice %></div>
        <div class="text-center container-fluid py-1"><%= alert %></div>
      <% elsif notice %>
        <div class="text-center container-fluid py-1"><%= notice %></div>
      <% elsif alert %>
        <div class="text-center container-fluid py-1"><%= alert %></div>
      <% end %>

      <p>Signed in as <%= current_user.profile.name %></p>

    <%= yield %>

      <span class="d-flex bg-dark header-footer-text pt-5 justify-content-center">
        <p>Social Media Icons</p>
      </span>

      <span class="d-flex bg-dark header-footer-text pb-5 justify-content-center">
        <p>JH BI-FI Pty Ltd 2017 Â©</p>
      </span>

  </body>

  

</html>
