<!DOCTYPE html>
<html>
  <head>
    <title>Jhbifi</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <span class="d-flex bg-dark header-footer-text pt-3 pb-1">
      <div class="nav-fixed">
        <p class="bg-dark">Home Messages SearchBar</p>
      </div>
    </span>

		<label for="openMenu" id="barMenu">
			<span></span>
			<span></span>
			<span></span>
		</label>
		<input type="checkbox" id="openMenu" checked>
		<nav class="mainMenu">
			<ul class="menu">
				<li><a href="#">HOME</a></li>
				<li><a href="#">PHONES</a></li>
				<li><a href="#">COMPUTERS</a></li>
				<li><a href="#">TV/MEDIA</a></li>
        <li><a href="#">MUSIC</a></li>
        <li><a href="#">GAMING</a></li>
				<div class="clear"></div>
			</ul>		
		</nav>
		<div class="content"></div>

    <span class="d-flex bg-warning">
      <div class="d-flex">
      <p>JH BI FI</p>
      </div>

      <%= link_to 'Sign in', new_user_session_path%>
      <%= link_to 'Sign up', new_user_registration_path%>
      <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>

    </span>

    <%= yield %>

      <span class="d-flex bg-dark header-footer-text pt-5 justify-content-center">
        <p>Social Media Icons</p>
      </span>

      <span class="d-flex bg-dark header-footer-text pb-5 justify-content-center">
        <p>JH BI-FI Pty Ltd 2017 ©</p>
      </span>

  </body>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

</html>
